In [1]:
import numpy as np
import pandas as pd

In [2]:
path="/content/customer.csv"
df=pd.read_csv(path)

In [3]:
df.sample(5)

    age  gender   review education purchased
44   77  Female  Average        UG        No
19   97    Male     Poor        PG       Yes
1    68  Female     Poor        UG        No
29   83  Female  Average        UG       Yes
23   96  Female     Good    School        No

In [4]:
df = df.iloc[:,2:]

In [6]:
df.head()

    review education purchased
0  Average    School        No
1     Poor        UG        No
2     Good        PG        No
3     Good        PG        No
4  Average        UG        No

In [7]:
from sklearn.preprocessing import OrdinalEncoder

In [9]:
from sklearn.model_selection import train_test_split

In [17]:
X=df[['review','education']]
y=df['purchased']

In [18]:
X.head()

    review education
0  Average    School
1     Poor        UG
2     Good        PG
3     Good        PG
4  Average        UG

In [19]:
X_train, X_test, y_train, y_test = train_test_split(X,y,test_size=0.20)

In [23]:
oe = OrdinalEncoder(categories=[['Poor','Average','Good'],['School','UG','PG']])

In [24]:
oe.fit(X_train)

OrdinalEncoder(categories=[['Poor', 'Average', 'Good'], ['School', 'UG', 'PG']])

In [37]:
X_train = oe.transform(X_train)

In [36]:
X_train

array([[0., 2.],
       [0., 2.],
       [2., 0.],
       [1., 2.],
       [0., 0.],
       [2., 1.],
       [0., 2.],
       [2., 2.],
       [2., 1.],
       [1., 0.],
       [2., 0.],
       [1., 0.],
       [0., 2.],
       [1., 1.],
       [2., 1.],
       [1., 0.],
       [1., 2.],
       [1., 1.],
       [0., 1.],
       [0., 2.],
       [0., 0.],
       [2., 2.],
       [0., 0.],
       [1., 1.],
       [1., 2.],
       [0., 0.],
       [0., 2.],
       [1., 1.],
       [0., 2.],
       [1., 0.],
       [2., 1.],
       [2., 0.],
       [1., 0.],
       [1., 1.],
       [0., 1.],
       [0., 1.],
       [0., 1.],
       [2., 0.],
       [2., 2.],
       [2., 1.]])

In [38]:
oe.categories_

[array(['Poor', 'Average', 'Good'], dtype=object),
 array(['School', 'UG', 'PG'], dtype=object)]

In [39]:
from sklearn.preprocessing import LabelEncoder

In [40]:
le=LabelEncoder()

In [42]:
le.fit(y_test)

LabelEncoder()

In [43]:
le.classes_

array(['No', 'Yes'], dtype=object)

In [44]:
y_train = le.transform(y_train)
y_test = le.transform(y_test)

In [45]:
y_train

array([0, 0, 0, 1, 1, 1, 1, 1, 1, 0, 0, 1, 1, 1, 1, 1, 1, 0, 0, 1, 1, 1,
       0, 0, 0, 0, 0, 1, 0, 0, 1, 0, 0, 0, 0, 1, 1, 0, 0, 1])